@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h2>Reset Password</h2>

<form asp-action="ResetPassword" method="post">
    @*
    <input asp-for="@Model.Email" type="hidden"/>
    <input asp-for="@Model.Token" type="hidden"/>

    *@
    <div class="form-group">
        <label asp-for="@Model.NewPassword">New Password:</label>
        <input type="password" id="password" asp-for="@Model.NewPassword" placeholder="New Password" name="NewPassword" required class="form-control" />
        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmPassword">Confirm Password:</label>
        <input type="password" asp-for="@Model.ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required class="form-control text w3lplass" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Reset Password" />
</form>
